@model IEnumerable<Campus_Social_Network.Models.Class>

@{
    ViewBag.Title = "AllClasses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Capacity
        </th>
        <th>
            Number of Registered
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
        </tr>
    }
</table>
